stages:
  - build
  - scheduled tasks
  - code quality
  - dependency scanning
  - outdated packages
  - test
  - deploy

# Cache default configuration
cache: &global_cache
  key: "$CI_PIPELINE_ID"
  paths:
    - node_modules
    - public/build
    - vendor
  policy: pull


# Build section
Install dependencies and build assets:
  image: sumocoders/cli-tools-php84:latest
  script:
    - COMPOSER_MEMORY_LIMIT=-1 composer install --no-scripts --no-progress
    - COMPOSER_MEMORY_LIMIT=-1 composer run-script post-autoload-dump
    - php bin/console importmap:install --no-interaction
    - php bin/console sass:build --no-interaction
  cache:
    <<: *global_cache
    policy: pull-push
  stage: build
  tags:
    - docker


# Code Quality section
PHP_CodeSniffer - check code styling:
  image: sumocoders/cli-tools-php84:latest
  script:
    - php vendor/bin/phpcs --report-full --report-\\Micheh\\PhpCodeSniffer\\Report\\Gitlab=phpcs-report.json
  artifacts:
    expire_in: 1 week
    reports:
      codequality: phpcs-report.json
  stage: code quality
  needs: [ "Install dependencies and build assets" ]
  tags:
    - docker

PHPStan - check for bugs:
  image: sumocoders/cli-tools-php84:latest
  before_script:
    - php bin/console cache:warmup --env=dev
  script:
    - php vendor/bin/phpstan analyse --memory-limit=-1 --error-format=gitlab --no-progress --no-interaction  > phpstan-report.json
  after_script:
    # Run it again so the output is visible in the job
    - >
      if [ $CI_JOB_STATUS != 'success' ]; then
        php vendor/bin/phpstan analyse --memory-limit=-1 --no-progress
      fi
  artifacts:
    expire_in: 1 week
    reports:
      codequality: phpstan-report.json
  stage: code quality
  needs: [ "Install dependencies and build assets" ]
  tags:
    - docker

Twig-CS-Fixer - check code styling:
  image: sumocoders/cli-tools-php84:latest
  script:
    - php vendor/bin/twig-cs-fixer lint templates/ --report=junit > twigcs-report.xml
  after_script:
    # Run it again so the output is visible in the job
    - >
      if [ $CI_JOB_STATUS != 'success' ]; then
        php vendor/bin/twig-cs-fixer --no-interaction lint templates/
      fi
  artifacts:
    expire_in: 1 week
    reports:
      junit: twigcs-report.xml
  stage: code quality
  needs: [ "Install dependencies and build assets" ]
  tags:
    - docker
  allow_failure: true

Stylelint - check code styling:
  image: sumocoders/stylelint:latest
  script:
    - stylelint --output-file=stylelint-report.json --custom-formatter=stylelint-formatter-gitlab-code-quality-report .
  after_script:
    - >
      if [ $CI_JOB_STATUS != 'success' ]; then
        stylelint --color .
      fi
  artifacts:
    expire_in: 1 week
    reports:
      codequality: stylelint-report.json
  stage: code quality
  needs: [ "Install dependencies and build assets" ]
  tags:
    - docker
  allow_failure: true

StandardJS - check code styling:
  image: sumocoders/standardjs:latest
  script:
    - sh -c 'standard . | standard-gitlab --output-file standardjs-report.json --human-readable'
  artifacts:
    expire_in: 1 week
    reports:
      codequality: standardjs-report.json
  stage: code quality
  needs: [ "Install dependencies and build assets" ]
  tags:
    - docker
  allow_failure: true


# Dependency Scanning section
NPM packages - check for vulnerabilities:
  image: sumocoders/cli-tools-php84:latest
  script:
    - php bin/console importmap:audit --no-interaction --ansi
  stage: dependency scanning
  needs: [ "Install dependencies and build assets" ]
  tags:
    - docker
  allow_failure: true

PHP packages - composer audit:
  image: sumocoders/cli-tools-php84:latest
  script:
    - composer audit --ansi --no-interaction
  stage: dependency scanning
  needs: [ "Install dependencies and build assets" ]
  tags:
    - docker
  allow_failure: true


# Outdated packages Scanning section
NPM packages - check for outdated packages:
  image: sumocoders/cli-tools-php84:latest
  script:
    - php bin/console importmap:outdated --no-interaction --ansi
  stage: outdated packages
  needs: [ "Install dependencies and build assets" ]
  tags:
    - docker
  allow_failure: true

PHP packages - composer outdated:
  image: sumocoders/cli-tools-php84:latest
  script:
    - composer outdated --ansi --no-interaction
  stage: outdated packages
  needs: [ "Install dependencies and build assets" ]
  tags:
    - docker
  allow_failure: true


# Test section
PHPUnit - Run tests:
  image: sumocoders/framework-php84:latest
  services:
    - mysql:8.0
  before_script:
# Uncomment this if you need Chrome for PDF's
# or if you have integration tests that use Symfony Panther (https://github.com/symfony/panther)
#    # install Chromium
#    - apt-get --allow-releaseinfo-change update && apt-get install -y chromium
#    # install Chromium Chromedriver
#    - |
#      curl -s -f -L -o /tmp/chromedriver.zip http://chromedriver.storage.googleapis.com/`curl -sS chromedriver.storage.googleapis.com/LATEST_RELEASE_97`/chromedriver_linux64.zip
#      unzip /tmp/chromedriver.zip chromedriver -d /usr/local/bin/
  script:
    - php bin/console doctrine:migrations:migrate --env=test --no-interaction --allow-no-migration
    # Uncomment this if you have fixtures that need to be loaded
    # Make sure that you have installed doctrine/doctrine-fixtures-bundle
    #- php bin/console doctrine:fixtures:load --env=test
    - php vendor/bin/phpunit --color --testdox --log-junit phpunit-report.xml
  artifacts:
    reports:
      junit: phpunit-report.xml
  stage: test
  needs: [ "Install dependencies and build assets" ]
  tags:
    - docker
  variables:
    MYSQL_DATABASE: ci_test
    MYSQL_ROOT_PASSWORD: root
    DATABASE_URL: mysql://root:root@mysql:3306/ci_test?serverVersion=5.7
    PANTHER_NO_SANDBOX: 1
    PANTHER_WEB_SERVER_PORT: 9080


# Scheduled tasks section
Task - Update dependencies:
  image: sumocoders/cli-tools-php84:latest
  script:
    - git config --global user.email "bot@sumocoders.be"
    - git config --global user.name "Sumo Bot"
    - git config --global push.autoSetupRemote true
    - git remote set-url origin "https://bot:${GITLAB_ACCESS_TOKEN}@${CI_SERVER_HOST}/${CI_PROJECT_PATH}.git"
    - php bin/console sumo:maintenance:create-pr-for-outdated-dependencies --no-interaction --ansi
  stage: scheduled tasks
  needs: [ "Install dependencies and build assets" ]
  rules:
    - if: '$CI_PIPELINE_SOURCE =~ /schedule|web/'
  tags:
    - docker


# Deploy section
Deploy - to staging:
  image: sumocoders/cli-tools-php84:latest
  before_script:
    # Add the private SSH key to the CI environment
    - 'which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )'
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add - > /dev/null
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - echo "$SSH_KNOWN_HOSTS" > ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
  script:
    - php vendor/bin/dep deploy stage=staging
  environment:
    name: staging
    url: https://$project.$client.php84.sumocoders.eu
  only:
    - staging
  stage: deploy
  tags:
    - docker
  variables:
    USER: "CI/CD gitlab-runner"

Deploy - to production:
  image: sumocoders/cli-tools-php84:latest
  before_script:
    # Add the private SSH key to the CI environment
    - 'which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )'
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add - > /dev/null
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - echo "$SSH_KNOWN_HOSTS" > ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
  script:
    - php vendor/bin/dep deploy stage=production
  environment:
    name: production
    url: https://$productionUrl
  only:
    - master
  stage: deploy
  tags:
    - docker
  variables:
    USER: "CI/CD gitlab-runner"
