includes:
  - vendor/phpstan/phpstan-symfony/extension.neon
services:
  errorFormatter.junit:
    class: PHPStan\Command\ErrorFormatter\JUnitErrorFormatter
parameters:
  inferPrivatePropertyTypeFromConstructor: true
  symfony:
    container_xml_path: %rootDir%/../../../var/cache/dev/App_KernelDevDebugContainer.xml
  level: 7
  paths:
    - public/
    - src/
  excludes_analyse:
    - %rootDir%/../../../src/Migrations
