includes:
  - vendor/phpstan/phpstan-symfony/extension.neon
  - vendor/phpstan/phpstan-doctrine/extension.neon
services:
  errorFormatter.junit:
    class: PHPStan\Command\ErrorFormatter\JUnitErrorFormatter
parameters:
  checkGenericClassInNonGenericObjectType: false
  inferPrivatePropertyTypeFromConstructor: true
  symfony:
    container_xml_path: %rootDir%/../../../var/cache/dev/App_KernelDevDebugContainer.xml
  level: 7
  paths:
    - public/
    - src/
  excludePaths:
    - %rootDir%/../../../src/Migrations
  ignoreErrors:
    - '#array of function array_map expects array, iterable<.*>#'
    -
      message: '#Property .*\$id is never written, only read.#'
      path: src/Entity
